*	{
	padding: 0 auto;
	margin: 0 auto;
}

/* FONT STYLING */

h1	{
	text-align: center;
}

h2	{
	padding: 10px;
}

h3	{
	text-align: center;
}

h4 {
	text-align: center;
	font-size: 1.2em;
	padding: 20px;
}

p	{
	text-align: center;
}

/* MEDIA QUERIES */


/* PHONE - Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	p.img {
    	width: 65%;
    	height: 55%;
   }

   	h1 {
   		font-size: 4em;
   	}

   	h2 {
   		font-size: 4em;
   	}

   	h3 {
   		font-size: 3em;
   }

  	h4 {
    	font-size: 3em;
    	font-weight: normal;
    	line-height: 50px;
   }
}


/* Tablet - Portrait and Landscape */
@media only screen
  and (min-device-width: 601px)
  and (max-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) {
  	  	p.img {
    	width: 50%;
    	height: 40%;
   }

   	h1 {
   		font-size: 4em;
   	}

   	h2 {
   		font-size: 3.5em;
   	}

   	h3 {
   		font-size: 2.5em;
   }

  	h4 {
    	font-size: 2.7em;
    	font-weight: normal;
    	line-height: 45px;
   }
}

.thumbnail {
	padding: 20px;
	margin-left: 5px;
	margin-right: 5px;
	width: 100%
}
