body{
	margin: 0px;
	padding:0px;
	display: block;
	font-family: 'Comfortaa', cursive;
	text-align:center;
}

input[type="text"], input[type="password"]{
	outline:none;
	padding:10px;
	display:block;
	width:300px;
	border-radius: 3px;
	border:1px solid #eee;
	margin:20px auto;
}


.header{
	border-bottom:1px solid #eee;
	padding:10px 0px;
	width:100%;
	text-align:center;
}

.header a{
	color:#333;
	text-decoration: none;
}



input[type="button"], input[type="reset"], input[type="submit"] {
        font-size:15px;
        font-weight:normal;
        padding:6px 24px;
        text-decoration:none;
				background-color: #ffd968;
				color: black;
}


/* MEDIA QUERIES */


/* PHONE - Portrait and Landscape */
@media only screen
  and (min-device-width: 320px)
  and (max-device-width: 736px)
  and (-webkit-min-device-pixel-ratio: 2) {
  	p.img {
    	width: 65%;
    	height: 55%;
   }

   	h1 {
   		font-size: 4em;
   	}

   	h2 {
   		font-size: 4em;
   	}

   	h3 {
   		font-size: 3em;
   }

  	h4 {
    	font-size: 3em;
    	font-weight: normal;
    	line-height: 50px;
   }
}


/* Tablet - Portrait and Landscape */
@media only screen
  and (min-device-width: 601px)
  and (max-device-width: 1200px)
  and (-webkit-min-device-pixel-ratio: 1) {
  	  	p.img {
    	width: 50%;
    	height: 40%;
   }

   	h1 {
   		font-size: 4em;
   	}

   	h2 {
   		font-size: 3.5em;
   	}

   	h3 {
   		font-size: 2.5em;
   }

  	h4 {
    	font-size: 2.7em;
    	font-weight: normal;
    	line-height: 45px;
   }
}
